.africaBody{
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/280/920/non_2x/vector-abstract-pastel-geometric-background.jpg);
  background-size: 1500px;
}

#africaHeaders{
  background-image:url(https://wallpapertag.com/wallpaper/full/8/0/f/701063-nice-backgrounds-for-pictures-3840x2160-720p.jpg);
  color: snow;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
}

#one{
  color:#000066;
  text-align: center;
  font-family: fantasy;
}

#two{
  color:#000066;
  text-align: center;
  font-family: fantasy;
}

#three{
  color:#000066;
  text-align: center;
  font-family: fantasy;
}


button{
  margin: 15px;
  padding: 8px 8px;
  border: 1px solid #FFD021;
  background: #FFD021;
  color: black;
  font-size: 18px;
  border-radius: 2px;
  position:absolute;
  left: 630px;
  top: 340px;
}

#back-to-map{
  margin: 15px;
  padding: 8px 8px;
  border: 1px solid #FFD021;
  background: #FFD021;
  color: black;
  font-size: 18px;
  border-radius: 2px;
  position:absolute;
  left: 50px;
  top: 70px;
}


#africa{
  position: absolute;
  left: 750px;
  top: 450px;
}


/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  /* color: #f2f2f2; */
  color: black;
  background-color: white;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 95.3%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


/* SLIDESHOW */











h1{
  color: #667292;
  text-align: center;

}

h1{
  color: #667292;
  text-align: center;

}

h2{
color: #667292;
}

h3{
  color: #667292;

}


p{
  color: black;
  font-size: 20px;
}

button{
  margin: 15px;
  padding: 12px 18px;
  border: 1px solid white;
  background: #FFD021;
  color: black;
  font-size: 18px;
  border-radius: 10px;
  ;
}

button:hover{
  border: 4px solid white;
  cursor: pointer;
  /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
}

#new-message{
  font-size: 20px;
}

}


.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
